* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgba(190, 236, 217, 0.884);
    color: black;

}

.section {
    background-color: rgba(190, 236, 217, 0.884);;
    color: black;
}

.main {
    background-color: rgba(190, 236, 217, 0.884);;
    color: black;
}

.card {
    background-color: rgba(158, 238, 203, 0.884);
    color: black;

}

.footer {
    background-color: rgba(158, 238, 203, 0.582);
    color: black;
}